
body {
  margin: 0;
  font-family: poppins, Arial, sans-serif;
  background: #fafafa;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(209, 174, 143);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

header .logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

header nav {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  font-weight: 600;
}

header nav a,
header nav a:link,
header nav a:visited {
  color: #4b3a2f; 
  text-decoration: none; 
}

header nav a:hover,
header nav a:active {
  color: white; 
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  color: #4a3d32;
  z-index: 1000;
  order: 1;
}
.menu-icon:hover {
  color: #351f18;
  transition: 0.03s;
}


.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 1000;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.overlay.active {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -560px;
  width: 260px;
  height: 100%;
  background: #fff8ef;
  box-shadow: 3px 0 10px rgba(0,0,0,0.25);
  padding: 30px 20px;
  transition: right 0.3s ease;
  z-index: 1005;
}

.side-menu.active {
  right: 0;
}

.side-menu h3 {
  margin-top: 0;
  color: #4a3d32;
}

.side-menu input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #cdb8a5;
  border-radius: 8px;
  font-size: 1rem;
}
.side-menu button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: rgb(209, 174, 143);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}


.section.hero {
  background: url('../img/imagen_1.png') center/cover no-repeat;
  opacity: 0.9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  padding: 20px;
  text-align: center;
}

.section.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.section h2 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}


.section.hero p {
  font-size: 1.2rem;
}

footer {
  background: rgb(209, 174, 143);
  color: #4b3a2f;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}

