/* GENERAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4ece3;
  color: #4b2e1f;
}

header {
  background-color: rgb(209, 174, 143);;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.agendar-container {
  width: 80%;
  margin: 40px auto;
}

.titulo {
  text-align: left;
  font-size: 28px;
  margin-bottom: 30px;
}

/* CALENDARIO */
.calendar-section h3,
.profesionales-section h3 {
  margin-bottom: 10px;
  color: #5b3d2a;
}

.calendar-input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #c8a88a;
  border-radius: 10px;
  width: 250px;
  background-color: #fff;
}

/* PROFESIONALES */
.profesional-card {
  background-color: #fff;
  border: 1px solid #d3b8a3;
  padding: 15px;
  margin: 15px 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profesional-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

/* BOTÓN RESERVAR */
.btn-reservar {
  display: block;
  margin: 40px auto;
  padding: 15px 35px;
  background-color: #8c5c3b;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.btn-reservar:hover {
  background-color: #6d452d;
}

/* FOOTER */

    footer {
      background: rgb(209, 174, 143);
      color:#FFFFFF;
      font-weight: bold;
      padding: 20px;
      text-align: center;
    }