
body {
  margin: 0;
  font-family: poppins, Arial, sans-serif;
  background-color: #f4ece3;
  color: #4b2e1f;
}

header {
  background-color: rgb(209, 174, 143);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

header nav a {
 text-decoration: none;
    margin-left: 20px;
    color: #4b3a2f;
    font-weight: 600;
    transition: 0.3s;
    }
    nav a:hover {
    color: white;
    }

header img{
  width: 80px;         
  height: 80px;        
  border-radius: 3000%;   
  object-fit: cover;    
  display: block;
}

.agendar-container {
  width: 80%;
  margin: 40px auto;
}

.titulo {
  text-align: left;
  font-size: 28px;
  margin-bottom: 30px;
}


.calendar-section h3,
.profesionales-section h3 {
  margin-bottom: 10px;
  color: #5b3d2a;
}

.calendar-input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #c8a88a;
  border-radius: 10px;
  width: 250px;
  background-color: #fff;
}


.profesional-card {
  background-color: #fff;
  border: 1px solid #d3b8a3;
  padding: 15px;
  margin: 15px 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profesional-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}


.btn-reservar {
  display: block;
  margin: 40px auto;
  padding: 15px 35px;
  background-color: #8c5c3b;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.btn-reservar:hover {
  background-color: #6d452d;
}

.servicios-section,
.hora-section,
.comentarios-section {
  margin-top: 25px;
}

.servicio-select,
.hora-select,
.comentarios {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #d1c7c4;
  border-radius: 8px;
  outline: none;
  font-family: "Poppins", sans-serif;
}

/* Hover */
.servicio-select:hover,
.hora-select:hover,
.comentarios:hover {
  border-color: #b39a93;
}


.comentarios {
  height: 100px;
  resize: none;
}


.servicios-section h3,
.hora-section h3,
.comentarios-section h3 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #4b2e22;
}

.servicio-select {
  margin-bottom: 10px;
}


  footer {
  background: rgb(209, 174, 143);
  color: #4b3a2f;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  margin-top: auto;
    }