body {
  font-family: 'poppins', Arial, sans-serif;
  background-color: #f9f5f0; 
  color: #4b3f2f; 
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(209, 174, 143); 
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img{
  width: 80px;         
  height: 80px;        
  border-radius: 3000%;   
  object-fit: cover;    
  display: block;
}

nav a {
   text-decoration: none;
    margin-left: 20px;
    color: #4b3a2f;
    font-weight: 600;
    transition: 0.3s;
}

.container {
  padding: 30px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color:  #cdb6a0;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.card img {
  max-width: 250px; 
  max-height: 200px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  background-color:#a97b52; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #c08b5b;
}

    footer {
  background: rgb(209, 174, 143);
  color: #4b3a2f;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}

  
.search-box input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #d9c2a5;
  outline: none;
  background: #fff;
  width: 180px;
  transition: 0.2s;
}

nav a:hover {
  color: white;
}

.card:hover {
  transform: translateY(-4px);
}