

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f6efe6; /* tono tierra muy suave */
  color: #4b3a2f;
}



header {
  background-color:rgb(209, 174, 143); /* beige tierra */
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  margin: 0;
  color: #4b3a2f;
  font-weight: 700;
  font-size: 24px;
}

header img {
  width: 80px;         
  height: 80px;        
  border-radius: 3000%;   
  object-fit: cover;    
  display: block;
}

nav a {
  text-decoration: none;
  margin-left: 20px;
  color: #4b3a2f;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover {
  color: white;
}



.title {
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
  color: #4b3a2f;
}



.services-container {
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 0 20px;
}



.card {
  background-color: #cdb6a0; 
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.card:hover {
  transform: translateY(-4px);
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card h3 {
  margin: 0;
  font-size: 20px;
  color: #4b3a2f;
  font-weight: bold;
}

.card p {
  margin: 8px 0;
  color: #3a2d25;
  font-size: 14px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #4b3a2f;
}



.btn-cita {
  background-color: #a97b52; 
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
  transition: 0.3s;
}

.btn-cita:hover {
  background-color: #8e6341;
}


 footer {
  background: rgb(209, 174, 143);
  color: #4b3a2f;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}

.search-box input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #d9c2a5;
  outline: none;
  background: #fff;
  width: 180px;
  transition: 0.2s;
}