body {
  margin: 0;
  padding: 0;
  font-family: poppins, Arial, sans-serif;
  background: #f4eee3; 
  color: #4a3d32; 
}

header {
  background-color: rgb(209, 174, 143);
  color: white;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}
header img{
  width: 80px;         
  height: 80px;        
  border-radius: 3000%;   
  object-fit: cover;    
  display: block;
  
}

header h2 {
  margin: 0;
  
}
nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
nav a {
   text-decoration: none;
    margin-left: 20px;
    color: #4b3a2f;
    font-weight: 600;
    transition: 0.3s;
    text-align: center;
   }
    nav a:hover {
    color: white;
    }

.cart-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 10px;
}


.cart-title {
  font-size: 26px;
  margin-bottom: 25px;
  text-align: left;  
  color: #5a4636;
}


.cart-item-card {
  display: flex;
  align-items: center;
  background: #fff8ef; 
  padding: 15px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: 1px solid #e3d6c7;
  box-shadow: 0 2px 5px rgba(0,0,0,0.12);
  gap: 20px;
}

.cart-item-card img {
  width: 110px;
  height: auto;
  border-radius: 8px;
  border: 2px solid #d7c4af;
}


.cart-info h3 {
  margin: 0;
  font-size: 19px;
  color: #4a3d32;
}

.cart-info p {
  margin: 5px 0;
  font-size: 15px;
  color: #5d4a3a;
}


.cart-actions {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-edit,
.btn-delete,
.btn-buy {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  
}


.btn-edit {
  background: #d8c1a7;
  color: #4a3d32;
}

.btn-edit:hover {
  background: #c8ad92;
  transform: scale(1.03);
   transition: 0.3s;
}


.btn-delete {
  background: #c97a63;
  color: white;
  transform: scale(1.03);
   transition: 0.3s;
}

.btn-delete:hover {
  background: #b5654f;
  transform: scale(1.03);
  transition: 0.3s;
}


.btn-buy {
  display: block;
  width: 100%;
  margin-top: 40px;
  background:rgb(209, 174, 143);
  color: white;
    font-size: 25px;

}

.btn-buy:hover {
  background: #9a7962;
  transform: scale(1.03);
   transition: 0.3s;
}


.total {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  color: #4a3d32;
  margin-top: 20px;
  
}

footer {
  background: rgb(209, 174, 143);
  color: #4b3a2f;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}