* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4efe9; 
  color: #4a3f35;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(209, 174, 143);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  color: #ffffff;
}
header img{
  width: 80px;         
  height: 80px;        
  border-radius: 3000%;   
  object-fit: cover;    
  display: block;
}

header nav a {
  text-decoration: none;
    margin-left: 20px;
    color: #4b3a2f;
    font-weight: 600;
    transition: 0.3s;
}
    nav a:hover {
    color: white;
    
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 25px 30px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-top: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #4a2e22;
  font-size: 32px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.day {
  background: #f9f2ef;
  padding: 15px;
  border-radius: 14px;
  border: 1px solid #e6d2c6;
}

.day h3 {
  text-align: center;
  color: #4a2e22;
  margin-bottom: 10px;
  font-size: 20px;
}

.cita {
  background: #d9b8a6;
  padding: 12px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}

.nodata {
  text-align: center;
  color: #a78a7c;
  padding: 20px 0;
  font-style: italic;
}

footer {
  background: rgb(209, 174, 143);
  color: #4b3a2f;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}