
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4efe9; 
  color: #4a3f35;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(209, 174, 143);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  color: #ffffff;
}
header img{
  width: 80px;         
  height: 80px;        
  border-radius: 3000%;   
  object-fit: cover;    
  display: block;
}

header nav a {
  text-decoration: none;
    margin-left: 20px;
    color: #4b3a2f;
    font-weight: 600;
    transition: 0.3s;
}
    nav a:hover {
    color: white;
    
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container {
    width: 70%;            
    max-width: 650px;     
    margin: 40px auto;     
}

.container h1 {
    text-align: center;
    color: #4b2e22;
    margin-bottom: 25px;
}

.profile-box {
    background: #c5a28f;
    border-radius: 20px;
    padding: 20px 30px;
}

.avatar {
    text-align: center;
    margin-bottom: 25px;
}

.avatar img {
    width: 100px;
    height: 100px;
}

.btn-change {
    margin-top: 10px;
    padding: 8px 15px;
    background: #4b2e22;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-change:hover {
    background: #351f18;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.full {
    grid-column: span 2;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-size: 14px;
    font-weight: 600;
    color: #4b2e22;
    margin-bottom: 5px;
}

.input-box input {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #c09a7a;
    background: rgba(255, 255, 255, 0.75);
}


.btn-save {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #4b2e22;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.btn-save:hover {
    background: #351f18;
    transform: translateY(-2px);
}

@media (max-width: 700px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
    .full {
        grid-column: span 1;
    }
}

footer {
  background: rgb(209, 174, 143);
  color: #4b3a2f;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
