body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.exito-container {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  width: 350px;
}

.logo {
  width: 90px;
  margin-bottom: 20px;
  border-radius: 3000%;   

}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.mensaje {
  font-size: 15px;
  margin-bottom: 25px;
  color: #555;
}

.btn-volver {
  display: inline-block;
  text-decoration: none;
  background: #4b2e22;
  padding: 12px 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s;
}

.btn-volver:hover {
  background: #2e1a13;
}
