body {
  margin: 0;
  font-family: poppins, Arial, sans-serif;
  background: #fafafa;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(209, 174, 143);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

header .logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

header nav {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  font-weight: 600;
}

header nav a,
header nav a:link,
header nav a:visited {
  color: #4b3a2f; 
  text-decoration: none; 
}

header nav a:hover,
header nav a:active {
  color: white; 
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  color: #4a3d32;
  z-index: 1000;
  order: 1;
}
.menu-icon:hover {
  color: #351f18;
  transition: 0.03s;
}


.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 1000;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.overlay.active {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -560px;
  width: 260px;
  height: 100%;
  background: #fff8ef;
  box-shadow: 3px 0 10px rgba(0,0,0,0.25);
  padding: 30px 20px;
  transition: right 0.3s ease;
  z-index: 1005;
}

.side-menu.active {
  right: 0;
}

.side-menu h3 {
  margin-top: 0;
  color: #4a3d32;
}

.side-menu input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #cdb8a5;
  border-radius: 8px;
  font-size: 1rem;
}
.side-menu button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: rgb(209, 174, 143);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.side-menu button:hover {
  background: #9a7962;
  transform: translateY(-2px);
  transition: transform 0.12s ease;
}
.section.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.section h2 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}


.section.hero p {
  font-size: 1.2rem;
}


.form-inventario {
  display: flex;
  gap: 10px;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
}

.form-inventario input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cdb8a5;
  font-size: 1rem;
  width: 200px;
}

.form-inventario .btn {
  background: rgb(208, 161, 134);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.form-inventario .btn:hover {
  background: #725147;
  transform: scale(1.05);
}


table {
  width: 100%;
  border-collapse: collapse;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table th, table td {
  border: 1px solid #cdb8a5;
  padding: 12px;
  text-align: center;
  font-weight: 600;
}

table th {
  background: rgba(191, 142, 114, 1);
  color: white;
  font-size: 1rem;
}

table tr:nth-child(even) {
  background: #fff8ef;
}

table button {
  background: rgba(191, 142, 114, 1);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin: 0 2px;
}

table button:hover {
  background: #351f18;
  transform: scale(1.05);
}


.btn {
  background: rgba(191, 142, 114, 1);
  padding: 12px 25px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  transition: 0.3s;
}

.btn:hover {
  background: #351f18;
  transform: scale(1.05);
}


footer {
  background: rgb(209, 174, 143);
  color: #4b3a2f;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}
    