body {
  margin: 0;
  font-family: poppins, Arial, sans-serif;
  background-color: #f8f1ec;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: rgb(209, 174, 143);
  color: white;
}

.logo {
  width: 80px;         
  height: 80px;        
  border-radius: 3000%;   
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  text-align: relative;
  width: 100%;
}

.contenedor {
  width: 90%;
  max-width: 450px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
   header .titulo {
    text-decoration: none;
    margin-left: 20px;
    color: #4b3a2f;
    font-weight: 600;
    transition: 0.3s;
    }
    .titulo:hover {
    color: white;
    }

.subtitulo {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #4b2e22;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.opcion {
  font-size: 18px;
  padding: 12px;
  background: #f1e3d9;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  border: 1px solid #d6c2b8;
}

.opcion:hover {
  background: #e6d5ca;
}

input[type="radio"] {
  margin-right: 10px;
}

.btn-pagar {
  margin-top: 15px;
  padding: 12px;
  background: #584137;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-pagar:hover {
  background: #351f18;
  transform: scale(1.03);
}

footer {
  background: rgb(209, 174, 143);
  color: #4b3a2f;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}
