body {
  margin: 0;
  font-family: poppins, Arial, sans-serif;
  background: #fafafa;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(209, 174, 143);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

header .logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

header nav {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  font-weight: 600;
}

header nav a,
header nav a:link,
header nav a:visited {
  color: #4b3a2f; 
  text-decoration: none; 
}

header nav a:hover,
header nav a:active {
  color: white; 
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  color: #4a3d32;
  z-index: 1000;
  order: 1;
}
.menu-icon:hover {
  color: #351f18;
  transition: 0.03s;
}


.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 1000;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.overlay.active {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -560px;
  width: 260px;
  height: 100%;
  background: #fff8ef;
  box-shadow: 3px 0 10px rgba(0,0,0,0.25);
  padding: 30px 20px;
  transition: right 0.3s ease;
  z-index: 1005;
}

.side-menu.active {
  right: 0;
}

.side-menu h3 {
  margin-top: 0;
  color: #4a3d32;
}

.side-menu input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #cdb8a5;
  border-radius: 8px;
  font-size: 1rem;
}
.side-menu button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: rgb(209, 174, 143);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.side-menu button:hover {
  background: #9a7962;
  transform: translateY(-2px);
  transition: transform 0.12s ease;
}
.section.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.section h2 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}


.section.hero p {
  font-size: 1.2rem;
}

.form-usuarios {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.form-usuarios input, .form-usuarios select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cdb8a5;
  font-size: 1rem;
  width: 180px;
}

.form-usuarios .btn {
  background: rgba(191, 142, 114, 1);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  padding: 10px 20px;
  width: auto;
  height: 30px;
}

.form-usuarios .btn:hover {
  background: #351f18;
  transform: scale(1.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table th, table td {
  border: 1px solid #cdb8a5;
  padding: 12px;
  text-align: center;
  font-weight: 600;
   margin-top: auto;
}

table th {
  background: rgba(191, 142, 114, 1);
  color: white;
  font-size: 1rem;
}

table tr:nth-child(even) {
  background: #fff8ef;
}

table button {
  background: rgba(191, 142, 114, 1);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin: 0 2px;
}

table button:hover {
  background: #351f18;
  transform: scale(1.05);
}

@media (max-width: 700px) {
  .form-usuarios {
    flex-direction: column;
    align-items: center;
  
  }

  .form-usuarios input, .form-usuarios select {
    width: 100%;
    max-width: 300px;
  
  }
}

footer {
  background: rgb(209, 174, 143);
  color: #483a30;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  margin-top: 200px;
}


.upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.upload-wrapper input[type="file"] {
  display: none;
}

.upload-btn {
  background: #bf8e72;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
  margin-top: 32px;
}

.upload-btn:hover {
  background: #351f18;
  transform: scale(1.05);
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 10px;
}

.galeria .foto-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.galeria .foto-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.galeria .foto-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.foto-card {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.foto-card button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(191, 142, 114, 0.8);
  border: none;
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.2s;
}

.foto-card button:hover {
  background: #351f18;
}
.section.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


#comentariosContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comentario {
  background-color: #f8f8f8;
  padding: 12px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.comentario strong {
  color: #4b2e22;
}
.foto-perfil-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: 10px;
}

.foto-perfil-wrapper .btn {
  padding: 10px 20px;
  height: auto; 
  width: auto;
}

#descripcion {
    width: 100%;
    padding: 11px 15px;
    border: 2px solid #c09a7a;
    border-radius: 8px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.60);
    outline: none;
    font-family: 'Poppins', sans-serif;
    resize: none;     
    min-height: 90px;   
    margin-bottom: 15px;
}

