

body {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4efe9; 
  color: #4a3f35;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(209, 174, 143);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  color: #ffffff;
}
header img{
  width: 80px;         
  height: 80px;        
  border-radius: 3000%;   
  object-fit: cover;    
  display: block;
}

header nav a {
  text-decoration: none;
    margin-left: 20px;
    color: #4b3a2f;
    font-weight: 600;
    transition: 0.3s;
}
    nav a:hover {
    color: white;
    
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}


.search-box input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #d9c2a5;
  outline: none;
  background: #fff;
  width: 180px;
  transition: 0.2s;
}

.search-box input:focus {
  width: 230px;
  border-color: #a57d63;
}

.cart-btn {
  background: #a78c7a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.2s ease;
}

.cart-btn:hover {
  background: #8d6b55;
  
}




.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}



.products,
.cart {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
}

h2 {
  margin-top: 0;
  color: #6e5846;
}



.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.product button {
  background: #a57d63;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.product button:hover {
  background: #8d6b55;
}



.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  min-height: 330px; 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 5px;
  color: #6e5846;
}

.card p {
  margin: 3px 0;
  color: #4a3f35;
}

.card button {
  background: #a57d63;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.card button:hover {
  background: #8d6b55;
}



.cart-item {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}



footer {
  background: rgb(209, 174, 143);
  color: #4b3a2f;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}
