header {
  background-color: rgb(209, 174, 143);; /* pastel tierra */
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  margin: 0;
  color: #4b3a2f;
  font-weight: 700;
  font-size: 24px;
}

nav a {
  text-decoration: none;
  margin-left: 20px;
  color: #4b3a2f;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f6efe6; /* tono tierra muy suave */
  color: #4b3a2f;
}


.card-horizontal {
  display: flex;
  background-color: #fff1e6; /* pastel tierra */
  margin: 20px 0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-horizontal img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info h3 {
  margin-top: 0;
  color: #4b3f2f;
}

.card-info p {
  margin: 5px 0;
}

.card-info button {
  width: 120px;
  padding: 10px;
  background-color: #d6a77a;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.card-info button:hover {
  background-color: #c08b5b;
}


/* Responsivo */
@media (max-width: 768px) {
  .card-horizontal {
    flex-direction: column;
    align-items: center;
    
  }

 .card-horizontal img {
    width: 100%;
    height: auto;
  }

  .card-info button {
    width: 100%;
  }
}

    /* BUSCADOR */
.search-box input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #d9c2a5;
  outline: none;
  background: #fff;
  width: 180px;
  transition: 0.2s;
}
 footer {
        background: rgb(209, 174, 143);
        color:#FFFFFF;
        font-weight: bold;
        padding: 20px;
        text-align: center;
    } 

.card-horizontal:hover {
  transform: translateY(-4px);
}