* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

body {
    height: 100vh;
    overflow: hidden;
   
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}


.left {
    flex: 1;
    position: relative;
    padding: 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; 
    background: url('../img/salondebelleza.webp') no-repeat center center/cover;
}

.left::before {
    content: "";
    position: absolute;
    inset: 0;                        
    background: rgba(0, 0, 0, 0.35); 
    backdrop-filter: blur(6px);      
    -webkit-backdrop-filter: blur(6px);
    z-index: 0;                      
    pointer-events: none;           
}

.left h1{
    position: relative;
    z-index: 1;                     
    font-size: 50px;
    line-height: 1.1;
}
.left p {
    position: relative;
    z-index: 1;                     
    margin: 0;
    font-size: 24px;
}
.left h1 span {
    color: #f1c2a3;
    font-size: 55px;
}

.right {
    flex: 0.55;
    background: #ddbda4;
    backdrop-filter: blur(6px); 
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-box {
    width: 380px;
    padding: 30px 40px;
    background: rgb(197, 162, 143);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.18);
    text-align: center;

}

.logo {
    width: 90px;
    margin-bottom: 10px;
    border-radius: 50%;
}


.login-box h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #4b2e22;
}


.input-group {
    margin-bottom: 18px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #4b2e22;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #c09a7a;
    border-radius: 8px;
    outline: none;
    margin-top: 4px;
    font-size: 14px;
    background: rgba(255,255,255,0.7);
}

.input-group input:focus {
    border-color: #a7774f;
}


.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.options a {
    color: #75452d;
    text-decoration: none;
}


.btn {
    margin: 20px 0 10px;
    width: 100%;
    padding: 12px;
    background: #4b2e22;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
    color: #fff;
    border: none;
    letter-spacing: 0.5px;
}

.btn:hover {
    background: #351f18;
    transform: translateY(-2px);
}


.register {
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #4b2e22;
    font-weight: 500;
    text-decoration: none;
}
