* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background: #f5d0e6;
}

/* Botón registrar */
.registrarme {
    position: absolute;
    right: 40px;
    top: 30px;
    color: white;
    font-weight: 800;
    font-size: 17px;
    text-decoration: none;
    z-index: 9999;   /* <-- Hace que el botón esté encima del fondo */
}


/* Fondo */
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/imagen_1.png");
    background-size: cover;
    background-position: center;
    filter: brightness(0.75);
}

/* Tarjeta */
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    padding: 40px 40px 60px;
    background: #FFEDE6;
    border-radius: 22px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* Logo */
.logo {
    width: 110px;
    height: 110px;
    background: #D9B28C;
    border-radius: 50%;
    margin: -90px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family:'Allura', cursive;
    font-weight: bold;
    color: #5a3d28;
}

/* Inputs */
.input-group {
    display: flex;
    align-items: center;
    background: white;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 6px;
    border: 2px solid #cfaea2;
}

.icon {
    margin-right: 12px;
    font-size: 19px;
    color: #5a3d28;
}

input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
}

/* Botón */
.btn {
    width: 100%;
    padding: 14px;
    background: #F8D9CF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Footer */
footer {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
