body {
  font-family: poppins, Arial, sans-serif;
  background-color: #f9f5f0; 
  color: #4b3f2f; 
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(209, 174, 143);; 
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 80px;         
  height: 80px;        
  border-radius: 3000%;   
  object-fit: cover;    
  display: block;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #4b3f2f;
  font-weight: bold;
}
   nav a:hover {
    color: white;
    }

.container {
  padding: 30px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color:  #cdb6a0; 
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.card img {
  max-width: 250px; 
  max-height: 200px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  background-color:#a97b52;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #c08b5b;
}

    footer {
      background: rgb(209, 174, 143);
      color:#FFFFFF;
      font-weight: bold;
      padding: 20px;
      text-align: center;
    }

.service-card p {
  margin: 8px 0;
  color: #3a2d25;
  font-size: 14px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #4b3a2f;
}

.services-grid {
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 0 20px;
}


.card:hover {
  transform: translateY(-4px);
  transition: transform 0.3s;
}

.search-box input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #d9c2a5;
  outline: none;
  background: #fff;
  width: 180px;
  transition: 0.2s;
}